<!-- FOOTER SECTION -->
<footer class="footer-distributed">

	<div class="footer-left">
	
  	  <img src="..\assets\common\logo.png" alt="logo" width="30%" >
	
<br>
<br><br>
	  <p class="footer-company-name" style="color: white;">Tyro HR India Pvt Ltd © 2025</p>
	</div>
  
	<div class="footer-center">
  
	  <div>
		<i class="fa fa-map-marker"></i>
		<p>17/34, Five Furlong Rd, Maduvinkarai, Guindy, Chennai, Tamil Nadu 600032</p>
	  </div>

  
	  <div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:info@tyroindia.in">{{email}}</a></p>
	  </div>
  
	  <div>
		<i class="fa fa-globe"></i>
		<p><a href="https://tyrohr.in">www.tyrohr.in</a></p>
	  </div>
  
	</div>
  
	<div class="footer-right">
  
	  <p class="footer-company-about">
		<span>About the company</span>
		Tyro HR India Pvt Ltd organizes HR-focused events and awards to recognize excellence and build a strong HR community.
	  </p>
  
	  <div class="footer-icons">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
	  </div>
  
	</div>
  
  </footer>
  
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style>
  /* FOOTER CSS */
  .footer-distributed {
	background: #000000;
	box-shadow: 0 1px 1px 0 rgba(243, 243, 243, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
  }
  
  /* Footer Left */
  .footer-distributed .footer-left {
	width: 20%;
  }
  
  .footer-distributed h3 {
	color: #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  }
  
  .footer-distributed h3 span {
	color: lightseagreen;
  }
  
  .footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  }
  
  .footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
  }
  
  .footer-distributed .footer-links a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  .footer-distributed .footer-company-name {
	color: #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  }
  
  /* Footer Center */
  .footer-distributed .footer-center {
	width: 50%;
  }
  
  .footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	margin: 10px 15px;
	vertical-align: middle;
  }
  
  .footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
  }
  
  .footer-distributed .footer-center p a {
	color: lightseagreen;
	text-decoration: none;
  }
  
  /* Footer Right */
  .footer-distributed .footer-right {
	width: 30%;
  }
  
  .footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
	margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #3d3d3d;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: all 0.3s ease; /* Smooth transition */
}

.footer-distributed .footer-icons a:hover {
  background-color: lightseagreen; /* Change background color on hover */
  color: #000000; /* Change icon color */
  transform: scale(1.2); /* Scale up */
}

  /* Responsive Design */
  @media (max-width: 880px) {
  
	.footer-distributed {
	  font: bold 14px sans-serif;
	}
  
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
	  display: block;
	  width: 100%;
	  margin-bottom: 40px;
	  text-align: left;
	}
  
	.footer-distributed .footer-center i {
	  margin-left: 0;
	}
  }
  </style>
  