<app-slideshare></app-slideshare>
<section class="container py-5">
    <div class="row align-items-center">
      <!-- Left Side Image -->
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="..\assets\slide\about.jpg" alt="About Us" class="about-img">
      </div>

      <!-- Right Side Content -->
      <div class="col-md-6 about-content">
        <h2>About Us</h2>
        <p>
          Tyro HR India Pvt Ltd, established in January 2022, is a leading organization offering a diverse range of HR services, including awards and certifications for outstanding HR professionals, payroll management, staffing solutions, and corporate training. 
          We specialize in recognizing HR excellence and building a strong HR community through events, workshops, and knowledge-sharing platforms. 
          In addition to HR expertise, we deliver customized software development solutions that align with specific business goals and industry requirements.
          <br><br>
          Our services cover web and mobile applications, full stack development, cloud integration, and enterprise solutions. 
          Tyro HR is also an ISO certified organization, ensuring the highest standards in all our operations.
          We focus on talent development through comprehensive software development and corporate training programs.
          These training programs are designed to equip individuals with in-demand skills, real-time project experience, and career guidance.
          With a focus on quality, innovation, and impact, we empower both professionals and organizations to thrive in the digital era.
        </p>
        
      </div>
    </div>
  </section>
  <section style="background-color: rgb(255, 145, 0);">
  <app-services></app-services>
</section>
  <section>
     <app-announcement></app-announcement>
  </section>
